<div class="d-flex">
    <div class="ms-auto">
        <% if (post.categories && post.categories.length> 0) { %>
            <% post.categories.forEach(function(category, index) { %>
                <a class="index-cat-link" href="<%- url_for('/categories/' + category.slug) %>">
                    <%= category.name %>
                </a>
                <% if (index < post.categories.length - 1) { %>, <% } %>
                        <% }); %>
                            <% } else { %>
                                <span>No category</span>
                                <% } %>
    </div>
</div>