<div class="container mt-4">
    <footer class="bg-dark text-white py-3 bottom-radius text-center">
        <p class="mb-0">
            &copy; <%= new Date().getFullYear() %>
                <%= config.author %>
        </p>
    </footer>
</div>