<div class="container mt-4">
    <header class="top-radius bg-dark text-white py-3 text-center">
        <h1 class="mb-1"><%- config.title %></h1>
        <p class="mb-0"><%- config.subtitle %></p>
    </header>
</div>