<% if (config.utterances.repo) { %>
    <section id="comments">
        <script src="https://utteranc.es/client.js" repo="<%= config.utterances.repo %>"
            issue-term="<%= config.utterances.issue_term %>" theme="<%= config.utterances.theme %>"
            crossorigin="anonymous" async>
            </script>
    </section>
    <% } %>